@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: local("Inter"),
   url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 500;
  }

video{
  width: 100% !important;
  height: auto !important;
}

#root{
  display: grid;
  width: 100vw;
  user-select: none;
  height: 100vh;
}

body {
    margin: 0;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
#chat-scrollbar::-webkit-scrollbar{
  display: none;
}
#stacked-participants>div:nth-child(1){
  display: grid !important;
  bottom: 0;
  z-index: 4;
}
#stacked-participants>div:nth-child(2){
  display: grid;
  bottom: 20%;
  z-index: 3;
}
#stacked-participants>div:nth-child(3){
  display: grid;
  bottom: 40%;
  z-index: 2;
}
#stacked-participants>div:nth-child(4){
  display: grid;
  bottom: 60%;
  z-index: 1;
}